@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121315;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 10px; }

/* Neon Glow Utility */
.glow-emerald { box-shadow: 0 0 15px rgba(16, 185, 129, 0.4); }