@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f9fb;
  color: #191c1e;
}

/* Custom Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e0e3e5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbcabf;
}

/* Utilitas tambahan jika dibutuhkan */
.glass-card {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(224, 227, 229, 0.5);
}